<div class="container" *ngIf="camillero">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            
            <!-- <div class="form-group">
                <label for="idCamillero">Número de documento</label>
                <input type="number" class="form-control" id="idCamillero" name="idCamillero" [(ngModel)]="camillero.idCamillero" required >
            </div> -->

            <div class="form-group">
                <label for="nombreCamillero">Nombre</label>
                <input type="text" class="form-control" id="nombreCamillero" name="nombreCamillero" [(ngModel)]="camillero.nombreCamillero" required>
            </div>
        

            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid"><i class="fas fa-pencil-alt"></i> Actualizar</button>
            <button class="btn btn-outline-primary btn-block" routerLink="/camilleros/camillero/lista"><i class="fas fa-arrow-alt-circle-left"></i> Regresar</button>
        </form>
    </div>
    </div>
</div>

