<div *ngIf="isAdmin">
    <button class="btn btn-outline-success" routerLink="/camilleros/camillero/nuevo">
      <i class="fas fa-plus-circle"></i> Nuevo camillero</button>
    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Número de documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Ver</th>
            <th scope="col" *ngIf="isAdmin">Editar</th>
            <th scope="col" *ngIf="isSuperadmin">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let camillero of camilleros">
            <td>{{camillero.idCamillero}}</td>
            <td>{{camillero.nombreCamillero}}</td>
            <td *ngIf="camillero.estadoCamillero">Activo</td>
            <td *ngIf="!camillero.estadoCamillero">Inactivo</td>
            <td><button class="btn btn-outline-primary" routerLink="/camilleros/camillero/detalle/{{camillero.idCamillero}}"><i class="fas fa-eye"></i> Ver</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/camilleros/camillero/editar/{{camillero.idCamillero}}"><i class="fas fa-edit"></i> Editar</button></td>
            <td *ngIf="isSuperadmin"><button class="btn btn-outline-danger" (click)="borrar(camillero.idCamillero)"><i class="fas fa-trash-alt"></i> Eliminar</button></td>
          </tr>
        </tbody>
      </table>
