<body>


<div class="container ">

  <a [routerLink]="['/inicio/home']"><i class="fas fa-arrow-left mt-5"  ></i></a>

</div>





  <div class="login-box animate__animated animate__fadeIn ">

    <img class="avatar" src="../../../../assets/img/icon.png" alt="Logo">
    <h1>Login</h1>

    <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>

      <label for="nombre">Nombre</label>
      <div class="wrap-input100 m-b-16 mt-1">
        <input type="text" name="nombre" id="nombre" class="input100" placeholder="Ingrese nombre aqui"
          [(ngModel)]="nombre" required>
      </div>

      <label for="nombreUsuario" class="mt-3">Nombre de Usuario</label>
      <div class="wrap-input100 m-b-16 mt-1">
        <input type="text" name="nombreUsuario" id="nombreUsuario" class="input100" placeholder="Ingrese usuario aqui"
          [(ngModel)]="nombreUsuario" required>
      </div>

      <!-- <span *ngIf="loginForm.submitted && loginForm.controls['email'].errors" class="text-danger animate__animated animate__fadeIn"> El usuario es obligatorio</span> -->


      <label for="password" class="mt-3"> Contraseña</label>
      <div class="wrap-input100 m-b-16 mt-1" data-validate="Password is required">
        <input type="password" name="password" id="password" class="input100" placeholder="Ingrese contraseña aqui"
          [(ngModel)]="password" required>
      </div>

      <label for="email" class="mt-3">Correo Electrónico</label>
      <div class="wrap-input100 m-b-16 mt-1">
        <input type="text" name="email" id="email" class="input100" placeholder="Ingrese email aqui"
          [(ngModel)]="email" required>
      </div>

      <!-- <span *ngIf="loginForm.submitted && loginForm.controls['password'].errors" class="text-danger animate__animated animate__fadeIn"> La contraseña es obligatoria</span> -->

      <br>
      <div class="container-login100-form-btn mt-1">
        <button class="login100-form-btn btn-block" [disabled]="!f.valid">
          <i class="fas fa-sign-in-alt"></i> Crear Cuenta</button>
      </div>
    </form>
  </div>


</body>