<!-- Consulta de servicios -->

<!-- Boton de regresar -->
<button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i>
  Regresar</button>

<div class="container mb-2">
  <form>
    <div class="row mt-4">

      <!-- Filtro fecha -->
      <div class="col">
        <div class="form-group">
          <label><b>Fecha:</b></label>
          <div class="input-group">
            <input type="text" (keyup)="onSearchServicio(txtSearch.value)" #txtSearch class="form-control mr-sm-2"
              id="search" placeholder="Buscar servicios">
            <button class="btn btn-outline-danger" (click)="clearSearch()" [disabled]="!search">Vaciar</button>
          </div>
        </div>
      </div>

      <!-- Filtro camillero o solicitante -->
      <div class="col">
        <div class="form-group">
          <label><b>Solicitante o Camillero:</b></label>
          <div class="input-group">
            <input type="text" (keyup)="onSearchServicio2(txtSearch2.value)" #txtSearch2 class="form-control mr-sm-2"
              id="search2" placeholder="Buscar servicios">
            <button class="btn btn-outline-danger" (click)="clearSearch2()" [disabled]="!search2">Vaciar</button>
          </div>
        </div>
      </div>

      <!-- Filtro cancelado -->
      <div class="col">
        <label for="cancelado"><b>Cancelado:</b></label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="searchCancel" checked value="" [(ngModel)]="searchCancel"> Todos
          </label>
          &nbsp;
          <label class="radio-inline">
            <input type="radio" name="searchCancel" value="true" [(ngModel)]="searchCancel"> Sí
          </label>
          &nbsp;
          <label class="radio-inline">
            <input type="radio" name="searchCancel" value="false" [(ngModel)]="searchCancel"> No
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-4">

      <!-- Filtro tipo de servicio -->
      <div class="col">
        <div class="form-group">
          <label><b>Servicio solicitado:</b></label>
          <div class="input-group">
            <input type="text" (keyup)="onSearchServicio3(txtSearch3.value)" #txtSearch3 class="form-control mr-sm-2"
              id="search3" placeholder="Buscar servicios">
            <button class="btn btn-outline-danger" (click)="clearSearch3()" [disabled]="!search3">Vaciar</button>
          </div>
        </div>

      </div>

      <!-- Filtro destino -->
      <div class="col">
        <div class="form-group">
          <label><b>Destino del servicio:</b></label>
          <div class="input-group">
            <input type="text" (keyup)="onSearchServicio4(txtSearch4.value)" #txtSearch4 class="form-control mr-sm-2"
              id="search4" placeholder="Buscar servicios">
            <button class="btn btn-outline-danger" (click)="clearSearch4()" [disabled]="!search4">Vaciar</button>
          </div>
        </div>
      </div>

      <!-- Limpiar todos los filtros -->
      <div class="col">
        <label for="reset"><b>Limpiar</b></label>
        <button class="btn btn-outline-danger form-control" (click)="clear()">Borrar Filtros</button>
      </div>
    </div>
  </form>
</div>

<div class="container" id="main-container">

  <!-- Numero de servicios -->
  <div class="d-flex justify-content-center">
    <label class="cantidad"><b>{{(servicios |
        filtroFecha:search:search2:searchCancel:search3:search4 |
        paginate: {itemsPerPage: page_size, currentPage: page_number}).length}}</b>
      de
      <b>{{(servicios |
        filtroFecha:search:search2:searchCancel:search3:search4).length}}</b></label>
  </div>

  <!-- Paginacion de la tabla -->
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page_number = $event">
    </pagination-controls>
  </div>

  <div class="table-responsive">
    <table id="dtHorizontalExample" class="table table-striped table-hover table-sm mb-0 text-center" cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Fecha</th>
          <th scope="col">Servicio solicitado</th>
          <th scope="col">Solicitante</th>
          <th scope="col">Destino del servicio</th>
          <th scope="col">Transporte</th>
          <th scope="col">Insumo</th>
          <th scope="col">Acompañante</th>
          <th scope="col">Aislamiento</th>
          <th scope="col">Observaciones</th>
          <th scope="col">Paciente</th>
          <th scope="col">Camillero</th>
          <th scope="col">¿Cancelado?</th>
          <th scope="col">Tiempo del Servicio</th>
          <th scope="col">Ver</th>
          <th scope="col" *ngIf="isAdmin">Imprimir</th>
          <th scope="col" *ngIf="isSuperadmin">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let servicio of servicios | filtroFecha:search:search2:searchCancel:search3:search4 | paginate: {itemsPerPage: page_size, currentPage: page_number}">
          <td>{{servicio.id}}</td>
          <td>{{servicio.fecha}}</td>
          <td>{{servicio.genareser?.gasnombre}}</td>
          <td>{{servicio.solicitante}}</td>
          <td>{{servicio.genareser2?.gasnombre}}</td>
          <td>{{servicio.transporte}}</td>
          <td>{{servicio.insumo}}</td>
          <td>{{servicio.familiar}}</td>
          <td *ngIf="servicio.aislamiento">Sí</td>
          <td *ngIf="!servicio.aislamiento">No</td>
          <td>{{servicio.observaciones}}</td>
          <td>{{servicio.genpacien?.pacnumdoc}}</td>
          <td>{{servicio.camillero?.nombreCamillero}}</td>
          <td *ngIf="servicio.cancelado">Cancelado</td>
          <td *ngIf="!servicio.cancelado">No cancelado</td>
          <td>{{servicio.tiempoTotal}}</td>
          <!-- <td><a (click)="onOpenModal(servicio, 'editTime')" class="btn btn-outline-info tooltips" data-placement="top" data-original-title="Edit"><i class="fas fa-clock"></i></a></td> -->
          <td><button class="btn btn-outline-primary" routerLink="/camilleros/servicio/detalle/{{servicio.id}}"><i
                class="fas fa-eye"></i></button></td>
          <td><button *ngIf="isAdmin" (click)="onOpenModal(servicio, 'print')" class="btn btn-outline-dark tooltips"
              data-placement="top" data-original-title="Print"><i class="fas fa-print"></i></button></td>
          <td *ngIf="isSuperadmin"><button class="btn btn-outline-danger" (click)="borrar(servicio.id)"><i
                class="fas fa-trash-alt"></i></button></td>
        </tr>


      </tbody>

    </table>

  </div>
  <div class="text-center mt-2"><label> Promedio del tiempo total de los servicios:<b> {{servicios |
        promedio:search:search2:searchCancel:search3:search4}} minutos </b></label></div>



  <!-- Imprimir Modal -->
  <div class="modal fade" id="imprimirModal" tabindex="-1" role="dialog" aria-labelledby="servicioImprimirModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateTimeModalLabel">Imprimir Servicio </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row" *ngIf="servicio" id="imprimir1">

            <div class="card">
              <div class="card-header text-center">
                Servicio {{servicio.id}}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>FECHA: </b>{{servicio.fecha}}</li>
                <li class="list-group-item"><b>SERVICIO: </b>{{servicio.genareser?.gasnombre}}</li>

                <li class="list-group-item"><b>SOLICITANTE: </b>{{servicio.solicitante}}</li>
                <li class="list-group-item"><b>DESTINO DEL SERVICIO: </b>{{servicio.genareser2?.gasnombre}}</li>
                <li class="list-group-item"><b>TRANSPORTE: </b>{{servicio.transporte}}</li>
                <li class="list-group-item"><b>INSUMO: </b>{{servicio.insumo}}</li>
                <li class="list-group-item"><b>ACOMPAÑANTE: </b>{{servicio.familiar}}</li>
                <li class="list-group-item" *ngIf="servicio.aislamiento"><b>AISLAMIENTO: </b>Sí</li>
                <li class="list-group-item" *ngIf="!servicio.aislamiento"><b>AISLAMIENTO: </b>No</li>
                <li class="list-group-item"><b>OBSERVACIONES: </b>{{servicio.observaciones}}</li>
                <li class="list-group-item">
                  <b>PACIENTE: </b>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>N° de documento:</b> {{servicio.genpacien?.pacnumdoc}}</li>
                    <li class="list-group-item"><b>Nombre:</b> {{servicio.genpacien?.pacprinom}}
                      {{servicio.genpacien?.pacsegnom}}
                      {{servicio.genpacien?.pacpriape}} {{servicio.genpacien?.pacsegape}}</li>
                  </ul>
                </li>
                <li class="list-group-item"><b>CAMILLERO: </b>{{servicio.camillero?.nombreCamillero}}</li>

                <li class="list-group-item">
                  <b>HORAS: </b>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Hora de envio:</b> {{servicio.horaEnvio}}</li>
                    <li class="list-group-item"><b>Hora de asignación:</b> {{servicio.horaAsignacion}}</li>
                  </ul>
                </li>
              </ul>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button (click)="printServicio('imprimir1')" class="btn btn-primary">Imprimir Servicio</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>