<div class="container" *ngIf="servicio">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

            <div class="form-group">
                <label for="fecha">Fecha</label>
                <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="servicio.fecha" disabled >
            </div>

            <div class="form-group">
                <label for="servicioSolicitado">Servicio Solicitado</label>
                <input type="text" class="form-control" id="servicioSolicitado" name="servicioSolicitado" [(ngModel)]="servicio.servicioSolicitado" disabled>
            </div>

            <div class="form-group">
                <label for="destinoServicio">Destino del Servicio</label>
                <input type="text" class="form-control" id="destinoServicio" name="destinoServicio" [(ngModel)]="servicio.destinoServicio" disabled>
            </div>

            <div class="form-group">
                <label for="solicitante">Solicitante</label>
                <input type="text" class="form-control" id="solicitante" name="solicitante" [(ngModel)]="servicio.solicitante" disabled>
            </div>

            <div class="form-group">
                <label for="transporte">Transporte</label>
                <input type="text" class="form-control" id="transporte" name="transporte" [(ngModel)]="servicio.transporte" disabled>
            </div>

            <div class="form-group">
                <label for="insumo">Insumo</label>
                <input type="text" class="form-control" id="insumo" name="insumo" [(ngModel)]="servicio.insumo" disabled>
            </div>

            <div class="form-group">
                <label for="familiar">Acompañante</label>
                <input type="text" class="form-control" id="familiar" name="familiar" [(ngModel)]="servicio.familiar" disabled>
            </div>

            <div>
                <label for="aislamiento">Aislamiento</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" name="aislamiento" id="aislamiento" [value]="true" [(ngModel)]="servicio.aislamiento" disabled> Sí
                    </label>
                    &nbsp;
                    <label class="radio-inline">
                        <input type="radio" name="aislamiento" id="aislamiento" [value]="false" [(ngModel)]="servicio.aislamiento" disabled> No
                    </label>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="aislamiento">Aislamiento</label>
                <input type="text" class="form-control" id="aislamiento" name="aislamiento" [(ngModel)]="servicio.aislamiento" disabled>
            </div> -->

            <div class="form-group">
                <label for="observaciones">Observaciones</label>
                <input type="text" class="form-control" id="observaciones" name="observaciones" [(ngModel)]="servicio.observaciones" disabled>
            </div>

            <!-- <div class="form-group">
                <label for="idPaciente">Paciente</label>
                <input type="text" class="form-control" id="idPaciente" name="idPaciente" [ngModel]="servicio.paciente?.id" disabled>
            </div> -->

            <label >Paciente</label>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="docPaciente" id="docPaciente" [ngModel]="servicio.genpacien?.pacnumdoc" disabled>
                <label for="docPaciente">Número de documento</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" name="nombrePaciente" id="nombrePaciente" 
                [ngModel]="servicio.genpacien?.pacprinom + ' ' + servicio.genpacien?.pacsegnom + ' ' + servicio.genpacien?.pacpriape + ' ' + servicio.genpacien?.pacsegape" disabled>
                <label for="nombrePaciente">Nombre completo</label>
              </div>

            <div class="form-group">
                <label for="idCamillero">Camillero</label>
                <select class="form-control" name="idCamillero" id="idCamillero" [(ngModel)]="servicio.idCamillero" required>
                    <option [ngValue]="null" selected>Elija un camillero</option>
                    <option [ngValue]="camillero.idCamillero" *ngFor="let camillero of camilleros">{{camillero.nombreCamillero}}</option>
                </select>
            </div>

             <!-- <div class="form-group">
                <label for="idCamillero">Camillero</label>
                <input type="number" class="form-control" id="idCamillero" name="idCamillero" [(ngModel)]="servicio.idCamillero" required>
            </div>  -->


            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid" (click)="horaAsignacionServicio()"><i class="fas fa-paper-plane"></i> Actualizar</button>
            <button class="btn btn-outline-primary btn-block" routerLink="/camilleros/servicio/lista"><i class="fas fa-arrow-alt-circle-left"></i> Regresar</button>
            
        </form>
    </div>
    </div>
</div>

